/* Изменение фона и цвета текста */
body {
    background-color: #F0A202; /* Основной фон */
    color: #5c374c; /* Цвет текста */
}

/* Заголовок админки */
h1, h2, h3, h4, h5, h6 {
    color: #ce6a85; /* Цвет заголовков */
}

/* Цвета кнопок */
button, .button {
    background-color: #f18805; /* Цвет кнопок */
    color: white; /* Цвет текста на кнопках */
}

/* Изменение цвета ссылок */
a {
    color: #985277; /* Цвет ссылок */
}

a:hover {
    color: #f18805; /* Цвет ссылок при наведении */
}

/* Изменение фона для форм */
form {
    background-color: #f0a202; /* Фон форм */
}

/* Изменение цвета полей ввода */
input[type="text"], input[type="number"], select {
    border: 1px solid #ce6a85; /* Цвет границы полей */
    background-color: #fff; /* Фон полей */
}
