.footer{
    display: flex;
    height: 50vh;
    background-color: #F0A202;
    position: absolute;
    bottom: -50vh;
    width: 100%;
    transition-duration: 0.5s;
    z-index: 3;
}

.footer-button{
    position: relative;
    right: -90vw;
    width: 100px;
    height: 150px;
    top:-150px;
    background-color: blueviolet;
    transition-duration: 0.3s;
}

.footer-button:hover{ 
    background-color: #F0A202;
    cursor: pointer;
}

.footer-button:hover p{
    color: blueviolet;
}

.footer-button p {
    transform: rotate(-90deg);
    font-size: 30px;
    width: 150px;
    height: 100px;
    font-weight: 700;
    color: #F0A202;
}


.footer-visible{
    bottom: 0;
    /* z-index: 3; */
}

.footer-curtains{
    z-index: -1;
    width: 100vw;
    height: 100vh;
    position:fixed;
    top: 0;
    left: 0;
    right: 0;
}

.curtains-visible{
    opacity: 0.2;
    background-color: black;
    transition-duration: 0.5s;
    z-index: -100;
    height: 50%;
}