.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 15vh;
}

.header-logo {
    font-size: 24px;
    font-weight: 700;
    width: 15vw;
    background-color: #5C374C;
    display: flex;
    flex-direction: row;
    margin-top: 4vh;
    margin-bottom: 3vh;
}

.left-logo {
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: #985277;
    color: #F0A202;
    transition-duration: 0.25s;
}

.right-logo {
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: #F18805;
    color: #5C374C;
    transition-duration: 0.25s;
}

.header-logo:hover .right-logo {
    background-color: #985277;
    color: #F0A202;
    cursor: pointer;
}

.header-logo:hover .left-logo {
    background-color: #F18805;
    color: #5C374C;
    cursor: pointer;
}



.header-chapters {
    background-color: #F18805;
    width: 60vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 8vh;
}

.header-profile {
    background-color: #833c64;
    width: 15vw;
    margin-bottom: 6vh;
}

.header-chapter-button {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #F0A202;
    font-size: 18px;
    padding: 20px;
    width: 100%;
    height: 100%;
    font-weight: 700;
    text-align: center;
    color: #5C374C;
}

.active-chapter-button {
    background-color: #5C374C;
    /* background-color: #833c64; */
    color: #ffdece;
    border-bottom: 8px solid #F18805;
    color: #F0A202;
}


.header-user-name {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    color: #F0A202;
    font-weight: 700;
}

.to-login-button {
    width: 100%;
    height: 100%;
}

.header-profile-btn-container {
    height: 100%;
}


.MuiMenu-list {
    width: 15vw;
    box-shadow: none !important;
}

.MuiPaper-root.MuiMenu-paper {
    box-shadow: none !important;
    /* Убираем тень */
    left: 85vw !important;
    background-color: #833c64;
    border-radius: 0;
}

.MuiMenuItem-root {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    color: #F0A202 !important;
    font-weight: 700 !important;
    padding: 10px 0 !important;
    transition-duration: 0.2s;
}

.MuiMenuItem-root:hover{
    background-color: #F18805 !important;
    color: #5C374C !important;
}