.loading{
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    margin: auto;
    width: 10vw;
    height: 10vw;
    /* background-color: blueviolet; */
    left: 45vw;
    top: 35vh;
    border: 10px solid #833c64;
    border: 10px solid #833c64;
    border-radius: 5vw;
}

.loading-rect{
    position: relative;
    left: 5vw;
    background-color: #ffdfdf;
    width: 7vw;
    height: 7vw;
    animation: spin 1s linear infinite;
    transform-origin: -1vw;
}

@keyframes spin {
    0% {
        transform: rotate(0deg); 
    }
    100% {
        transform: rotate(360deg); 
    }
}