body{
    background-image: url('../images/login4-removebg.png');
    background-size: 80%; 
    background-position: left bottom; 
    background-repeat: no-repeat;
}


.login-header{
    position: absolute;
    display: flex;
    flex-direction: row;
    top: 50px;
}

.header-logo{
    font-size: 36px;
    font-weight: 700;
    background-color: antiquewhite;
    display: flex;
    flex-direction: row;
}

.left-logo{
    padding: 20px;
    background-color: #985277;
    color: #F0A202;
}

.right-logo{
    padding: 20px;
    background-color: #F18805;
    color: #5C374C;
}