
.login-header{
    position: absolute;
    display: flex;
    flex-direction: row;
    top: 50px;
    transition-duration: 0.5s;
    left: -30vw;
}

.login-header-active{
    left: 0;
}

.header-logo{
    font-size: 36px;
    font-weight: 700;
    background-color: antiquewhite;
    display: flex;
    flex-direction: row;    
}

.left-logo{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: #985277;
    color: #F0A202;
    transition-duration: 0.25s;
}

.right-logo{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: #F18805;
    color: #5C374C;
    transition-duration: 0.25s;
}

.header-logo:hover .right-logo{
    background-color: #985277;
    color: #F0A202;
    cursor: pointer;
}

.header-logo:hover .left-logo{
    background-color: #F18805;
    color: #5C374C;
    cursor: pointer;
}