body{
    overflow: hidden;
}

.component-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:flex-end;
    height: 100%;
}

.login-form{
    width: 50vw;
    height: 50vh;
    /* background-color: #ce6a85; */
    background-color: #F18805;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.login-part-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 70%;
    padding: 40px;
}

.main-login-text{
    font-size: 36px;
}

.input-label{
    color: #F18805;
}


.login-form-inputs{
    padding: 20px;
}

.login-button{
    justify-self: end;
    align-self: flex-end;
    margin-bottom: 20px;
}

.to-register-part-container{
    display: flex;
    flex-direction: column;
    margin-left: 40px;
    padding: 40px;
    background-color: #985277;
    width: 30%;
    align-items: center;
    justify-content: center;
    transition-duration: 0.5s;
}

.to-register-text{
    width: 70%;
    color: #F0A202;
    font-weight: 700;
    font-size: 20px;
}

.to-register-part-container:hover{
    width: 40%;
    background-color: #5C374C;
    cursor: pointer;
}